*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
    background-image: url(./image/daniel-stiel-0zDfloZbfG8-unsplash.jpg);
    background-size: cover;
   
    background-repeat: no-repeat;

}


.box{
    /* min-height: 100vh; */
    
    padding: 20px 30px;
    width: 450px;
    height: 600px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    background: rgba(49,49, 49, .2);
    border: 5px solid rgba(255, 255, 255, .5);
}
.box .form {
    padding: 20px 20px;
}

.box .form h1 {
    text-align: center;
    color:black  ;
    text-decoration: underlinecornflowerblue;
}

.box .form form {
    margin-top: 100px;
    align-items: center;
    margin-left: 55px;
}

.box .form form  input { 
    padding: 12px 20px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #12151e;
    margin-bottom: 12px;
    background-color: black;
    color: #fff;
}
.box .form form #login{
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    background: #0cc0df;
    cursor: pointer;
    font-size: 15px;
}
p{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}
#sig{
    padding: 10px 50px;
    color:black;
    border: none;
    outline: none;
    background: #0cc0df;
    cursor: pointer;
    font-size: 15px;
    margin-left:20px ;
    text-decoration: none;
    
    
}
#home{
    text-decoration: none;
    padding: 10px ;
    display: flex;
    justify-content: center;
    background-color: #12151e;
    color: #0cc0df;
}

/* Responsive styles */
@media (max-width: 600px) {
    .box {
        width: 95%;
    }

    .form h1 {
        font-size: 20px;
    }

    .inputbox input {
        padding: 8px;
    }

    #login {
        padding: 12px;
        font-size: 14px;
    }
}
 
 
